MAIL=""
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

20,50 * * * * Rscript -e "library(myrutils); myrutils::backup_to_s3('name_of_bucket', 'name_of_root_folder', 'name_of_profile')"
